<div class='movie-hero' style="background-image: url('{{movie.bannerImg}}')">
</div>
<div class='movieInfoContainer'>
  <div
    class='movieCoverImg'
    style="background-image: url('{{movie.coverImg}}')"
  ></div>
  <div class='movieInfoText'>
    <h2 class='movieTitle'>{{movie.movieTitle}}</h2>
    <div class='movieInfo'>
      {{movie.genre}}
      |
      {{movie.duration}}
      |
      {{movie.age}}
    </div>
  </div>
</div>
<div class='movieDescription'>{{movie.description}}</div>
<div class='screensContainer'>
  <div
    class='screenImg'
    style="background-image: url('{{movie.screenImg1}}')"
  ></div>
  <div
    class='screenImg'
    style="background-image: url('{{movie.screenImg2}}')"
  ></div>
  <div
    class='screenImg'
    style="background-image: url('{{movie.screenImg3}}')"
  ></div>
</div>