<div class='movie-hero' style="background-image: url('{{movie.bannerImg}}')">
</div>
<div class='movieInfoContainer'>
  <div
    class='movieCoverImg'
    style="background-image: url('{{movie.coverImg}}')"
  ></div>
  <div class='movieInfoText'>
    <h2 class='movieTitle'>{{movie.movieTitle}}</h2>
    <div class='movieInfo'>
      {{movie.genre}}
      |
      {{movie.duration}}
      |
      {{movie.age}}
    </div>
  </div>
</div>
<div class='movieDescription'>{{movie.description}}</div>
<div class='movieWriters'>
  <h5>Regi:</h5>
  {{#each movie.writers}}
    <p>{{this}}</p>
  {{/each}}
</div>
<div class='movieActors'>
  <h5>Skådespelare:</h5>
  {{#each movie.actors}}
    <p>{{this}}</p>
  {{/each}}
</div>
<div class='movieReleaseDate'>
  <h5>Premiär:</h5>
  <p>{{movie.release}}</p>
</div>
<div class='screensContainer'>
  <div
    class='screenImg'
    style="background-image: url('{{movie.screenImg1}}')"
  ></div>
  <div
    class='screenImg'
    style="background-image: url('{{movie.screenImg2}}')"
  ></div>
  <div class='screenImg' style="background-image: url('{{movie.screenImg3}}')">
  </div>
</div>
<div class='performancesContainer'>
  {{#if movie.performances}}
    <div class='performancesHeaderContainer'>
      <div class='performanceDateHeader'>Tid och datum:</div>
      <div class='performanceSaloonHeader'>Salong:</div>
      <div class='performanceSaloonSeats'>Platser:</div>
      <div>Köp:</div>
    </div>
    {{#each movie.performances}}
      <div class='performanceCard'>
        <div class='performanceStart'>
          <p>{{this.startTime}}</p>
          <p>{{this.date}}</p>
        </div>
        <div class='performanceSaloon'>
          {{this.saloonName}}
        </div>
        <div class='performanceSeats'>
          {{this.availableSeatsSalon}}
          /
          {{this.totalSeatsSaloon}}
        </div>

      </div>
    {{/each}}
  {{/if}}
</div>